.button {
  -webkit-tap-highlight-color: transparent;

  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-green);
  }

  &-transparent {
    background-color: transparent;
    color: var(--color-dark);
  }

  &:focus {
    border: 5px solid var(--color-green);
    outline: none;
  }

  &--green {
    background-color: var(--color-green);
    color: var(--color-dark);

    @include hover {
      opacity: 0.6;
    }
  }
}
