.services-card {
  display: flex;
  justify-content: space-between;
  min-height: 310px;
  padding: 50px;

  @include border-card;

  @include mobile {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }

  &__body {
    justify-content: space-between;

    @include flex-column(30px);

    @include mobile {
      display: contents;
    }
  }

  &__image {
    align-self: center;

    @include desktop {
      max-width: 50%;
    }

    @include mobile {
      max-width: 165px;
    }
  }

  &__title {
    @include flex-column(0px);

    align-items: start;

    @include mobile {
      grid-column: -1/1;
    }
  }

  &__link {
    display: inline-flex;
    column-gap: 15px;
    justify-content: start;
    align-items: center;
    font-size: 20px;

    @include hover {
      opacity: 0.7;
    }

    @include mobile {
      align-items: end;
    }

    &-icon-wrapper {
      @include square(41px);
      @include flex-center;

      color: var(--color-green);
      background-color: var(--color-dark);
      border-radius: 50%;
    }

    &--light {
      color: var(--color-light);

      .services-card__link-icon-wrapper {
        background-color: var(--color-light);
        color: var(--color-dark);
      }
    }

    &-label {
      @include mobile {
        @include visually-hidden;
      }
    }
  }

  &--grey-bg {
    background-color: var(--color-grey);
  }

  &--dark-bg {
    background-color: var(--color-dark);
  }

  &--green-bg {
    background-color: var(--color-green);
  }
}
