.team-card {
  padding: 40px 35px;
  height: 100%;

  @include border-card;

  @include tablet {
    padding: 40px 50px;
  }

  &__header {
    --teamCardHeaderMarginBtm: 28px;

    position: relative;
    display: flex;
    align-items: end;
    padding-bottom: var(--teamCardHeaderMarginBtm);
    margin-bottom: var(--teamCardHeaderMarginBtm);
    border-bottom: var(--border);
    column-gap: 18px;

    @include mobile {
      --teamCardHeaderMarginBtm: 20px;
    }
  }

  &__name {
    margin-bottom: 3px;
  }

  &__link {
    @include flex-center;
    @include square(34px);

    position: absolute;
    right: 0px;
    top: 0px;
    background-color: var(--color-dark);
    color: var(--color-green);
    border-radius: 50%;
  }
}
